body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 125%;
  /**PWA STUFF**/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

input {
  font-size: 110%;
  text-align: center;
  border: 0.05em solid white;
  color: #ff00ff;
  background-color: black;
  margin: 0.05em 0.05em;
  padding: 0 0;
  cursor: pointer;
  width: 100%;
}

.row {
  width: 100%;
  display : flex;
}
  
a {color: #ff00ff;}